absl-py==2.1.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560622100/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click==8.1.8
contourpy==1.3.0
cycler==0.12.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
fonttools==4.55.8
fsspec==2025.2.0
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1733462603229/work
grpcio==1.70.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata==8.6.1
importlib_resources==6.5.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
kiwisolver==1.4.7
lightning-utilities==0.12.0
Markdown==3.7
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219663979/work
matplotlib==3.9.4
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1732314388626/work/dist/numpy-2.0.2-cp39-cp39-macosx_11_0_arm64.whl#sha256=f5ae29dd6f735c6dcad61765cffcfb32661c04e515c759b21399c7a3a39430a4
opencv-python==4.11.0.86
packaging==24.2
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929738355/work
protobuf==5.29.3
pycocotools==2.0.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyparsing==3.2.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil==2.9.0.post0
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454732336/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
six==1.17.0
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
torch==2.5.1
torchaudio==2.5.1
torchmetrics==1.6.1
torchvision==0.20.1
tqdm==4.67.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
Werkzeug==3.1.3
zipp==3.21.0
zstandard==0.23.0
